<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/css/materialize.css">
    <link rel="stylesheet" href="./src/css/style.css">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <link rel="stylesheet" href="./src/css/icons.css">
    <title>Title</title>
</head>

<body>
    <div id="app">

        <div class="row">
            <div class="col m1">Дата начала:</div>
            <div class="col m3">
                <input type="text" class="datepicker" v-model.lazy="date1">
            </div>
            <div class="col m1">Дата конца:</div>
            <div class="col m3">
                <input type="text" class="datepicker" v-model.lazy="date2">
            </div>
            <div class="col m4">
                <div class="btn" @click="dateRange">Сформировать</div>
            </div>
        </div>
        <div class="btn" @click="changeOnServer">Сохранить</div>
        <div class="btn" @click="clearSome(false)">Сбросить выборку</div>
        <div class="btn" @click="some.step = 0;enterSome()">Выбрать несколько</div>
        <div class="btn" @click="moveSome">Переместить выборку</div>
        <div class="btn" @click="history.copy = true;moveSome()">Переместить выборку с копираванием</div>
        <button class="btn" @click="moveHistory(false)" :disabled="history.isFirst"> <i class="material-icons">arrow_back</i></button>
        <button class="btn" @click="moveHistory(true)" :disabled="history.isLast"><i class="material-icons">arrow_forward</i></button>
        <input type="text" placeholder="Для нескольких"   v-model='some.input'>
        <div class="col m12" style="overflow: auto;">

  
        <table cellspacing="2" border="1" cellpadding="5" class="responsive-table striped">
            <tr>
                <th></th>
                <th v-for="day in tabelFiltred" class="center" >{{day.date}}</th>
            </tr>
            <tr>
                <th></th>
                <th v-for="day in tabelFiltred" class="center" >{{ day.date | dayOfWeek}}</th>

            </tr>
            <tr v-for="employee in employees">
                <td>{{employee['full_name']}}</td>
                <td v-for="day in tabelFiltred" class="center"  :class="{red : day.somes.includes(employee.nid),
                     ' pink accent-1' :  day.presomes.includes(employee.nid) }" @mouseover="preEnterSome(day,employee.nid)"><input class="center"  :class="{
                    
                    green : day.body[employee.nid] == 'В',
                    blue : day.body[employee.nid] == 'О',
                    yellow : day.body[employee.nid] == 'Б',
                }
                
                
                " @click="enterSome(day, employee.nid)"  type="text"
                        v-model="day.body[employee.nid]" name="" >
                </td>

            </tr>
        </table>
    </div>
    </div>
    <script src="./src/js/kalendar.js"></script>
    <script src="./src/js/materializeWithKvartal.js"></script>
    <script src="./src/js/axios.js"></script>
    <script src="./src/js/vue.js"></script>
    <script src="./src/js/editTable.js"></script>
</body>

</html>