<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/css/materialize.css">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <link rel="stylesheet" href="./src/css/materialdesignicons.css">

    <link rel="stylesheet" href="./src/css/bulma.css">
    <link rel="stylesheet" href="./src/css/style.css">
    <title>Title</title>
</head>

<body>
    <div id="app" @mouseup="unsetSomeClicked">
        <preloader ms="0"></preloader>


        <div class="columns">

      <div class="column is-6 is-offset-3">

   
        <div class="columns center data-nachalo-konec">

            <div class="column is-6  ">
                <p>Дата начала:</p>
                <input type="text" class="datepicker input" :disabled="some.step == 3 || some.step == 4"
                    v-model.lazy="date1">
            </div>

            <div class="column is-6">
                <p>Дата конца:</p>
                <input type="text" class="datepicker input" :disabled="some.step == 3 || some.step == 4"
                    v-model.lazy="date2">
            </div>

        </div>


        <div class="columns">
            <div class="column ">
                <div class="toolbar center block buttons-edit">
        
                    <div class="block ">
        
        
                        <button class="button is-success block" @click="changeOnServer"
                            :disabled="some.step == 3 || some.step == 4"> <i class="mdi mdi-database-arrow-down mdi-24px"></i>
                            Сохранить</button>
                        <button class="button is-danger block" @click="clearSome(false,true)" :disabled="!(some.step == 3)"> <i
                                class="mdi mdi-content-save-off-outline mdi-24px"></i> </button>
        
                        <button class="button is-primary block" @click="moveSome" :disabled="!(some.step == 3)"> <i
                                class="mdi mdi-content-save-move-outline mdi-24px"></i> </button>
                        <button class="button is-primary block" @click="history.copy = true;moveSome()"
                            :disabled="!(some.step == 3)"> <i class="mdi mdi-content-save-all-outline mdi-24px"></i></button>
                        <button class="button is-info block" @click="moveHistory(false)" :disabled="history.isFirst"> <i
                                class="mdi mdi-undo mdi-24px"></i></button>
                        <button class="button is-info block" @click="moveHistory(true)" :disabled="history.isLast"><i
                                class="mdi mdi-redo mdi-24px"></i></button>
                    </div>
        
        
                    <div class="columns block"><input type="text" placeholder="Для нескольких"
                            class="input column is-4 is-offset-4" v-model='some.input'></div>
        
                </div>
            </div>
          </div>


    </div>

    <div class="column is-2 is-offset-1 center">
        <div class="box has-text-left is-inline-block" >

   
        <div class="my-1"><div class="mx-1 p-3 min-w-36 tag  is-danger ">В</div>Выходной</div> 
        <div class="my-1"><div class="mx-1 p-3 min-w-36 tag  is-warning ">Б</div>Больничный</div> 
        <div class="my-1"><div class="mx-1 p-3 min-w-36 tag  is-info ">З</div>Замещение</div> 
        <div class="my-1"><div class="mx-1 p-3 min-w-36 tag  is-primary ">О</div>Отпуск</div> 
        <div class="my-1"><div class="mx-1 p-3 min-w-36 tag  is-success ">8|7</div>Смена</div> 
        </div>
       </div>

        </div>

       
        <div class="table-container">


            <table class="table is-striped is-hoverable ">
                <thead>
                    <tr>
                        <th></th>
                        <th v-for="day in tabelFiltred" class="center" style="min-width: 40px;">{{day.date | cutYear}}
                        </th>
                    </tr>
                    <tr>
                        <td>ФИО</td>
                        <th v-for="day in tabelFiltred" class="center">{{ day.date | dayOfWeek}}</th>

                    </tr>
                </thead>
                <tbody>
                    <tr v-for="employee in employees">
                        <td style="width: 1%;
                    white-space: nowrap; text-align: left;"> {{employee['full_name']}}</td>
                        <td v-for="day in tabelFiltred" class="center" :class="{'has-background-danger' : day.somes.includes(employee.nid),
                            'has-background-warning' :  day.presomes.includes(employee.nid) }"
                            @mouseover="preEnterSome(day,employee.nid)">

                            <input class=" input p0 center min-w-36" :class="classObjForTd(day,employee)"
                                @mousedown="setSomeClicked(day,employee.nid)" type="text"
                                v-model="day.body[employee.nid]" @input="filterInput(day, employee.nid)">
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <script src="./src/js/components/preloader.js"></script>
    <script src="./src/js/kalendar.js"></script>
    <script src="./src/js/materializeWithKvartal.js"></script>
    <script src="./src/js/axios.js"></script>
    <script src="./src/js/vue.js"></script>
    <script src="./src/js/editTable.js"></script>

</body>

</html>














    <div class="container">

  














        <ul class="collapsible">
            <li>
              <div class="collapsible-header">Оценка</div>
              <div class="collapsible-body">


                <div class="ocenka">
                    <h1 class="title is-1">Оценка</h1>
                      <div class="columns">
                      <div class="column is-4 p1">
                    
                      <select v-model="project.ocenka.type" @change="changeOcenka">
                      <option value="">Не выбрана</option>
                      <option value="Успешный">Успешный</option>
                      <option value="С ошибкой">С ошибкой</option>
                      </select>
                    
                     
                      
                      </div>
                      
                      <div class="column is-8 p1">
                      
                    
                    
                      <select v-model="project.ocenka.reason"  :disabled="project.ocenka.type != 'С ошибкой'">
                      <option value="Нарушение регламента МИ, есть влияние на клиента/сотрудника">Нарушение регламента МИ, есть влияние на клиента/сотрудника
                      </option>
                      <option value="Наличие багов (не технических), влияющих на клиента, процессы компании/департамента. Сопровождающий мог проработать самостоятельно">Наличие багов (не технических), влияющих на клиента, процессы компании/департамента. Сопровождающий мог проработать самостоятельно
                      </option>
                    <option value="Не инициировано изменение процедуры/продукта для улучшения сервиса для клиента">
                    Не инициировано изменение процедуры/продукта для улучшения сервиса для клиента
                    </option>
                    <option value="Не инициирована подготовка инструментов/схем и процедур обслуживания клиента для сотрудников">
                    
                    Не инициирована подготовка инструментов/схем и процедур обслуживания клиента для сотрудников
                    
                    </option>
                    
                      </select>
                     
                    
                      </div>
                      </div>
                    
                    </div>

              </div>
            </li>
            <li>
              <div class="collapsible-header">АБ</div>
              <div class="collapsible-body"><div class="AB">
                <h1 class="title is-1">
                АБ
                <button class="button is-danger" :disabled="!project.AB.length" @click="deleteAB()">-</button>
                <button class="button is-primary" @click="openABmodal()">+</button>
                </h1>
                
                
                
                
                
                
                
                
                <div class="modal" id="ABModal">
                <div class="modal-content">
                  <h4 class="my-5 title is-4" >Выберите тип новых данных</h4>
                 
                  <div class="columns ">
                  
                
                
                  <div class="column  has-text-centered is-clickable box">
                  <h3> Просто ввести число</h3>
                  <input type="number" class="input is-primary">
                  </div>
                
                
                
                  <div class="column  has-text-centered box is-clickable mx-5">
                  
                  <table class="table  is-narrow is-fullwidth " >
                <tr>
                <td>Вид бизнеса</td>
                <td>АБ</td>
                </tr>
                
                <tr>
                <td>FMC</td>
                <td></td>
                </tr>
                
                <tr>
                <td>FTTB</td>
                <td></td>
                </tr>
                <tr>
                <td>B2C</td>
                <td></td>
                </tr>
                
                <tr>
                <td>FMC</td>
                <td></td>
                </tr>
                
                <tr>
                <td>FIX</td>
                <td></td>
                </tr>
                
                
                <tr>
                <td>ПК</td>
                <td></td>
                </tr>
                </table>
                  </div>
                
                
                
                  <div class="column is-clickable box  table ">
                  <table class="table is-narrow is-fullwidth ">
                  <tr>
                  <td>Действие</td>
                  <td>дд.мм.гг</td>
                  <td>дд.мм.гг</td>
                 
                 
                  </tr>
                
                
                  <tr>
                  <td>Смс-рассылка</td>
                  <td></td>
                  <td></td>
                
                
                 
                
                
                  
                  </tr>
                
                  <tr> 
                  <td>E-mail рассылка</td>
                  <td></td>
                <td></td>
                
                
                  </tr>
                
                  <tr>
                  <td>Push-рассылка
                  
                  </td>
                  <td></td>
                <td></td>
                
                
                  </tr>
                  
                  <tr>
                  <td>ТВ реклама</td>
                  <td></td>
                <td></td>
                
                
                  </tr>
                
                  <tr>
                  <td>Офсет</td>
                  <td></td>
                <td></td>
                
                
                  </tr>
                
                  </table>
                  
                  </div>
                  
                  
                  </div>
                
                
                
                
                
                
                </div>
                <div class="modal-footer">
                  <a  class="modal-close button is-primary">Закрыть</a>
                </div>
                </div>
                
                
                </div></div>
            </li>
            <li>
              <div class="collapsible-header">Статус по запуску</div>
              <div class="collapsible-body">

                <div class="statusZapusk">
                
                <h3 class="title is-3">
                
                
                Статус по запуску
                <button class="button is-danger" :disabled="!project.statusZapusk.length" @click="deleteStatusZapuskRow">-</button>
                <button class="button is-primary" @click="addStatusZapuskRow">+</button>
                
                
                </h3>
                
                
                <div class="if-fullwidth w100" v-if="project.statusZapusk.length">
                <div class="columns">
                <div class="column is-9">Описание статуса</div>
                <div class="column">Срок</div>
                
                </div>
                
                <div  class="columns" v-for="(row,idx) in project.statusZapusk" :key="idx">
                <div class="column is-9"><input type="text" class="input is-primary" v-model.lazy="row.opisanie"></div>
                <div class="column"><input type="text" class="input is-primary datepicker" v-model.lazy="row.srok"></div>
                
                </div>
                
                </div>
                
                
                
                <div id='statusZapuskDate'></div>
                </div>
                </div>
            </li>




            <li>
                <div class="collapsible-header">
Риски

                </div>
                <div class="collapsible-body">




                    <div class="risks">




                        <h3 class="title is-3">
                        
                        
                        Риски по запуску
                        <button class="button is-danger" :disabled="!project.risks.length" @click="deleteRisksRow">-</button>
                        <button class="button is-primary" :disabled="project.risks.length >= 10" @click="addRisksRow">+</button>
                        
                        
                        </h3>
                        
                        
                        <div class="if-fullwidth w100" v-if="project.risks.length">
                        <div class="columns">
                        
                        <div class="column is-5" >Описание риска</div>
                        <div class="column is-5" >Прогноз влияния</div>
                        <div class="column is-2">Вероятность реализации риска </div>
                        
                        </div>
                        
                        
                        <div class="columns" v-for="row in project.risks">
                        
                        <div class="column is-5"><input type="text" class="input is-primary" v-model="row.opisanie"></div>
                        <div class="column is-5" ><input type="text" class="input is-primary" v-model="row.prognoz"></div>
                        <div class="column is-2 p-0" >
                        
                        
                        <select v-model="row.status" class="risk-select">
                        <option value="Низкая">Низкая</option>
                        <option value="Средняя">Средняя</option>
                        <option value="Высокая">Высокая</option>
                        
                        </select>
                        </div>
                        </div>
                        
                        
                        
                        
                        </div>
                        
                        
                        </div>
                        
                        

                </div>
              </li>




            <li>
                <div class="collapsible-header">
Аудиты

                </div>
                <div class="collapsible-body">

                    





<div class="audits ">
    <h3 class="center fluid-text title is-3">
      Голос клиента (Аудит)
        <button class="button is-danger" :disabled="!audits.length" @click="deleteAudit()">-</button>
        <button class="button is-primary" @click="addAudit()">+</button>
     </h3>  
    
    
    
    
    
     <div class="column box" v-for="audit,idx in audits" :key="idx">
    
    
    
    
    <br>
    
        <h4 class="center title is-4 my-1"> Загаловок аудита : {{audit.name}}</h4>
        <div class="columns">
            <div class="column is-6 is-offset-3">
    
                <input type="text" class="input" v-model="audit.name" placeholder="Заголовок" >
            </div>
            <div class="column is-2 p-1">
                <select class="selectColor" v-model="audit.type">
                    <option value="public">Публичный</option>
                    <option value="private">Приватный</option>
                    <option value="secret">Секретный</option>
                </select>
            </div>
           
        </div>
    
    
        <div class="columns">
    
     
    <div class="column is-6">
    
    <table class=" centered">
        <thead>
          <tr class="my-1">
              <th>     <input type="text" class="is-large input" v-model="audit.subname" placeholder="Подзаголовок" ></th>
              <th class="has-text-centered"> Кол-во</th>
              <td>        <button class="button is-danger" :disabled="!audit.rows.length" @click="deleteRowInAudit(audit)">-</button>
           <button class="button is-success" @click="addRowToAudit(audit)">+</button></td>
          </tr>
        </thead>
    
        <tbody>
          <tr v-for="row in audit.rows">
            <td><input type="text" class="input" v-model='row.propName' @change="updateDonut(audit)" placeholder="Причина"></td>
            <td><input type="number" class="input" v-model='row.propInt' placeholder="Колличество" @change="updateDonut(audit)"></td>
         
    
          </tr>
      <tr>
     
    
      </tr>  
        </tbody>
      </table>
    
    
      </div>
    
        <div class="column is-6">
     <canvas class="" :id="'DONUT'+idx" width="400" height="400">
      </canvas>
        </div>
    </div>
    </div>
    </div>
    
    
    
    
                </div>
              </li>

          </ul>
















    
    