<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/css/materialize.css">
    <link rel="stylesheet" href="./src/css/style.css">
    <link rel="stylesheet" href="./src/css/froala_editor.css">
    <link rel="stylesheet" href="./src/css/froala_style.css">
    <link rel="stylesheet" href="./src/css/chart.css">



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./src/css/froala_style.css">
    <link rel="stylesheet" href="./src/css/froala/code_view.css">
    <link rel="stylesheet" href="./src/css/froala/colors.css">
    <link rel="stylesheet" href="./src/css/froala/emoticons.css">
    <link rel="stylesheet" href="./src/css/froala/image_manager.css">
    <link rel="stylesheet" href="./src/css/froala/image.css">
    <link rel="stylesheet" href="./src/css/froala/line_breaker.css">
    <link rel="stylesheet" href="./src/css/froala/table.css">
    <link rel="stylesheet" href="./src/css/froala/char_counter.css">
    <link rel="stylesheet" href="./src/css/froala/video.css">
    <link rel="stylesheet" href="./src/css/froala/fullscreen.css">
    <link rel="stylesheet" href="./src/css/froala/file.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">




    <meta http-equiv="Cache-Control" content="no-cache" />
    <title>Title</title>
</head>

<body>


    <div id="app" class="container">

        <preloader ms="0"></preloader>
        <h1 class="center">Изменение проекта</h1>
        <div class="row">
            <div class="col m3 ">
                <div class="center">Дата спуска</div> <input v-model.lazy="project.fdate" id="fdate" type="text"
                    class="datepicker center" value="" placeholder="Выберите дату">
            </div>
            <div class="col m3">
                <div class="center" @click="undateZapusk">Дата запуска</div> <input :disabled="undate"
                    v-model.lazy="project.sdate" id="sdate" type="text" class="datepicker center" value=""
                    placeholder="Выберите дату">
            </div>
            <div class="col m6 center ">
                <div class="  ">Название</div>
                <input placeholder="Введите Название" v-model="project.nazvanie" id="nazvanie" type="text"
                    class="validate">
            </div>
        </div>
        <div class="row">
            <div class="col m3 center ">
                <div class="  ">Вид бизнеса</div>
                <div class="">
                    <select v-model="project.bizness" id="bizness">
                        <option value="" disabled selected>Вид бизнеса</option>
                        <option value="FMC">FMC</option>
                        <option value="B2B">B2B</option>
                        <option value="B2C">B2C</option>
                        <option value="ПК">ПК</option>
                        <option value="FTTB">FTTB</option>
                        <option value="FMC/FTTB">FMC/FTTB</option>
                        <option value="BTB/BTC">BTB/BTC</option>
                        <option value="FMC/B2C">FMC/B2C</option>
                    </select>
                </div>
            </div>
            <div class="col m3 center">
                <div class="  ">Тип запуска</div>
                <div class="">
                    <select v-model="project.zapusk" id="zapusk">
                        <option value="" disabled selected>Тип запуска</option>
                        <option value="Запуск ТП">Запуск ТП</option>
                        <option value="Перезапуск ТП">Перезапуск ТП</option>
                        <option value="Закрытие ТП">Закрытие ТП</option>
                        <option value="Офсет">Офсет</option>
                        <option value="Симплификация/Репайсинг">Симплификация/Репайсинг</option>
                        <option value="Запуск Услуги">Запуск Услуги</option>
                        <option value="Изменение условий услиги">Изменение условий услиги</option>
                        <option value="Закрытие условий">Закрытие условий</option>
                        <option value="Запуск акции">Запуск акции</option>
                        <option value="Закрытие акции">Закрытие акции</option>
                        <option value="SMS/push/email рассылка">SMS/push/email рассылка</option>
                        <option value="Запуск Города">Запуск Города</option>
                        <option value="Оборудование">Оборудование</option>
                    </select>
                </div>
            </div>
            <div class="col m6 center ">
                <div class="  ">Описание</div>
                <input placeholder="Введите Описание" v-model="project.opisanie" id="opisanie" type="text"
                    class="validate">
            </div>
        </div>
        <div class="row">
            <div class="col m3">
                <div class="   center">Сопровождающий</div>
                <select v-model="project.soprovod" id="soprovod">

                    <option value="" selected>Сопровождающий</option>
                    <option v-for="employee in employees" :value="employee['full_name']">{{employee['full_name']}}
                    </option>

                </select>


            </div>



            <div class="col m3 center ">
                <div class="">Статус</div>
                <div class="">
                    <select v-model="project.status" id="status">
                        <option value="" disabled selected>Статус</option>
                        <option value="В работе">В работе </option>
                        <option value="Выполнено">Выполнено </option>
                        <option value="Отложено">Отложено</option>
                        <option value="Отменено">Отменено</option>


                    </select>

                </div>
            </div>


            <div class="col m3 center  ">
                <div class="  ">Заказчик</div>
                <input placeholder="Введите заказчика" v-model="project.zakazchik" id="zakazchik" type="text"
                    class="validate">
            </div>

            <div class="col m3 center  ">
                <div class="  ">Флаги</div>
                <select placeholder="Флаги" v-model="project.flags" id="zakazchik" type="text"
                    class="validate"
                    multiple>
                   
                <option disabled value="">Выбор</option>
                <option value="Влияние">Влияние</option>
                <option value="Экстренный запуск">Экстренный запуск</option>
                <option value="ДПП">ДПП</option>
                <option value="Конфиденциальность">Конфиденциальность</option>
                
                
                </select>

            </div>

        </div>
        <div class="row">

            <div class="col m12">

                <div class="froala">
                    <label for="pbody">Описание</label>
                    <textarea class="form-control" rows="7" wrap="hard" id="pbody" name="pbody"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div @click="editProj" class="  btn-large col m12 black-text ">
                <div class="flow-text">Изменить проект</div>
            </div>
        </div>



<br><br>



<div class="audits">
    <h3 class="center fluid-text">
        Статусы по запуску/Доп.информация (Аудит)
        <button class="btn red" :disabled="!audits.length" @click="deleteAudit()">-</button>
        <button class="btn green" @click="addAudit()">+</button>
     </h3>  


 


     <div class="row" v-for="audit,idx in audits" :key="idx">




<br>

        <h4 class="center fluid-text"> Загаловок аудита</h4>
        <div class="row">
            <div class="col m6 offset-m2">

                <input type="text" v-model="audit.name" placeholder="Заголовок" >
            </div>
            <div class="col m3">
                <select class="selectColor col m2" v-model="audit.type">
                    <option value="public">Публичный</option>
                    <option value="private">Приватный</option>
                    <option value="secret">Секретный</option>
                </select>
            </div>
           
        </div>
<div class="col m6">

    <table class=" centered">
        <thead>
          <tr>
              <th>Причины обращения</th>
              <th>Кол-во</th>
              <td>        <button class="btn red" :disabled="!audit.rows.length" @click="deleteRowInAudit(audit)">-</button>
           <button class="btn green" @click="addRowToAudit(audit)">+</button></td>
          </tr>
        </thead>

        <tbody>
          <tr v-for="row in audit.rows">
            <td><input type="text" v-model='row.propName' @change="updateDonut(audit)" placeholder="Причина"></td>
            <td><input type="number" v-model='row.propInt' placeholder="Колличество" @change="updateDonut(audit)"></td>
            <td><select class="selectColor" v-model='row.propColor' @change="updateDonut(audit)">
                <option value="black"></option>
                <option value="#ff4081">Розовый</option>
                <option value="#ff1744">Красный</option>
                <option value="#4a148c">Фиолетовый</option>
                <option value="#3d5afe">Индиго</option>
            </select></td>
 
          </tr>
      <tr>
     

      </tr>  
        </tbody>
      </table>


      </div>
    
        <div class="col m6">
     <canvas class="" :id="'DONUT'+idx" width="400" height="400">
      </canvas>
        </div>
    </div>

</div>



  



    </div>

    <script type="text/javascript" src="./src/js/froala_editor.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/align.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/code_beautifier.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/code_view.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/colors.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/draggable.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/emoticons.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/font_size.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/font_family.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/image.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/file.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/image_manager.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/line_breaker.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/link.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/lists.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/paragraph_format.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/paragraph_style.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/video.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/table.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/url.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/entities.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/char_counter.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/inline_style.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/save.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/fullscreen.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/quote.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/cleave.min.js"></script>
    <script type="text/javascript" src="./src/js/froala/ru.js"></script>


    <script src="./src/js/components/preloader.js"></script>
    <script src="./src/js/chart.js"></script>
    <script src="./src/js/kalendar.js"></script>
    <script src="./src/js/materializeWithKvartal.js"></script>
    <script src="./src/js/axios.js"></script>
    <script src="./src/js/vue.js"></script>
    <script src="./src/js/addProj.js"></script>
</body>

</html>