<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/css/materialize.css">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <link rel="stylesheet" href="./src/css/materialdesignicons.css">

    <link rel="stylesheet" href="./src/css/bulma.css">
    <link rel="stylesheet" href="./src/css/style.css">
    <title>Title</title>
</head>

<body>
    <div id="app" @mouseup="unsetSomeClicked">
        <preloader ms="0"></preloader>


        <div class="columns">

      <div class="column is-6 is-offset-3">

   
        <div class="columns center data-nachalo-konec">

            <div class="column is-6  ">
                <p>Дата начала:</p>
                <input type="text" class="datepicker input" :disabled="some.step == 3 || some.step == 4"
                    v-model.lazy="date1">
            </div>

            <div class="column is-6">
                <p>Дата конца:</p>
                <input type="text" class="datepicker input" :disabled="some.step == 3 || some.step == 4"
                    v-model.lazy="date2">
            </div>

        </div>


        <div class="columns">
            <div class="column ">
                <div class="toolbar center block buttons-edit">
        
                    <div class="block ">
        
        
                        <button class="button is-success block" @click="changeOnServer"
                            :disabled="some.step == 3 || some.step == 4"> <i class="mdi mdi-database-arrow-down mdi-24px"></i>
                            Сохранить</button>
                        <button class="button is-danger block" @click="clearSome(false,true)" :disabled="!(some.step == 3)"> <i
                                class="mdi mdi-content-save-off-outline mdi-24px"></i> </button>
        
                        <button class="button is-primary block" @click="moveSome" :disabled="!(some.step == 3)"> <i
                                class="mdi mdi-content-save-move-outline mdi-24px"></i> </button>
                        <button class="button is-primary block" @click="history.copy = true;moveSome()"
                            :disabled="!(some.step == 3)"> <i class="mdi mdi-content-save-all-outline mdi-24px"></i></button>
                        <button class="button is-info block" @click="moveHistory(false)" :disabled="history.isFirst"> <i
                                class="mdi mdi-undo mdi-24px"></i></button>
                        <button class="button is-info block" @click="moveHistory(true)" :disabled="history.isLast"><i
                                class="mdi mdi-redo mdi-24px"></i></button>
                    </div>
        
        
                    <div class="columns block"><input type="text" placeholder="Для нескольких"
                            class="input column is-4 is-offset-4" v-model='some.input'></div>
        
                </div>
            </div>
          </div>


    </div>

    <div class="column is-2 is-offset-1 center">
        <div class="box has-text-left is-inline-block" >

   
        <div class="my-1"><div class="mx-1 p-3 min-w-36 tag  is-danger ">В</div>Выходной</div> 
        <div class="my-1"><div class="mx-1 p-3 min-w-36 tag  is-warning ">Б</div>Больничный</div> 
        <div class="my-1"><div class="mx-1 p-3 min-w-36 tag  is-info ">З</div>Замещение</div> 
        <div class="my-1"><div class="mx-1 p-3 min-w-36 tag  is-primary ">О</div>Отпуск</div> 
        <div class="my-1"><div class="mx-1 p-3 min-w-36 tag  is-success ">8|7</div>Смена</div> 
        </div>
       </div>

        </div>

       
        <div class="table-container">


            <table class="table is-striped is-hoverable ">
                <thead>
                    <tr>
                        <th></th>
                        <th v-for="day in tabelFiltred" class="center" style="min-width: 40px;">{{day.date | cutYear}}
                        </th>
                    </tr>
                    <tr>
                        <td>ФИО</td>
                        <th v-for="day in tabelFiltred" class="center">{{ day.date | dayOfWeek}}</th>

                    </tr>
                </thead>
                <tbody>
                    <tr v-for="employee in employees">
                        <td style="width: 1%;
                    white-space: nowrap; text-align: left;"> {{employee['full_name']}}</td>
                        <td v-for="day in tabelFiltred" class="center" :class="{'has-background-danger' : day.somes.includes(employee.nid),
                            'has-background-warning' :  day.presomes.includes(employee.nid) }"
                            @mouseover="preEnterSome(day,employee.nid)">

                            <input class=" input p0 center min-w-36" :class="classObjForTd(day,employee)"
                                @mousedown="setSomeClicked(day,employee.nid)" type="text"
                                v-model="day.body[employee.nid]" @input="filterInput(day, employee.nid)">
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <script src="./src/js/components/preloader.js"></script>
    <script src="./src/js/kalendar.js"></script>
    <script src="./src/js/materializeWithKvartal.js"></script>
    <script src="./src/js/axios.js"></script>
    <script src="./src/js/vue.js"></script>
    <script src="./src/js/editTable.js"></script>

</body>

</html>