<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/css/materialize.css">
    <link rel="stylesheet" href="./src/css/style.css">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <title>Title</title>
</head>

<body>
    <div id="app">
        <preloader ms="0"></preloader>
        <div class="row">
            <div class="col m1">Дата начала:</div>
            <div class="col m3">
                <input type="text" class="datepicker" v-model.lazy="date1">
            </div>
            <div class="col m1">Дата конца:</div>
            <div class="col m3">
                <input type="text" class="datepicker" v-model.lazy="date2">
            </div>
            <div class="col m2">
                <div class="btn" @click="dateRange">Сформировать</div>
            </div>
            <div class="col m2">
                <div class="btn z-depth-3" style="width: 40px; padding: 0;border-radius: 50%;" @click="exportToExcel"> <img src="./EX.png" width="100%" style="border-radius: 50%;" alt=""></div>
           
            </div>
        </div>
    
       
<div class="col m12" style="overflow: auto;">


        <table cellspacing="2" border="1" cellpadding="5" class="responsive-table striped center" id="allTable">
            <tr>
                <th></th>
                <th v-for="day in tabelFiltred" class="center" >{{day.date}}</th>
            </tr>
            <tr>
                <th></th>
                <th v-for="day in tabelFiltred" class="center" >{{ day.date | dayOfWeek}}</th>

            </tr>
            <tr v-for="employee in employees">
                <td>{{employee['full_name']}}</td>
                <td v-for="day in tabelFiltred" class="center"  :class="{
                    green : day.body[employee.nid].trim() == 'В',
                    blue : day.body[employee.nid].trim() == 'О',
                    yellow : day.body[employee.nid].trim() == 'Б',
                }
                
                
                "> {{ day.body[employee.nid]}}
                </td>

            </tr>
        </table>
    </div>

    </div>

    <script src="./src/js/components/preloader.js"></script>
    <script src="./src/js/kalendar.js"></script>
    <script src="./src/js/materializeWithKvartal.js"></script>
    <script src="./src/js/axios.js"></script>
    <script src="./src/js/vue.js"></script>
    <script src="./src/js/editTable.js"></script>
</body>

</html>