<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/css/materialize.css">
    <link rel="stylesheet" href="./src/css/style.css">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <title>Title</title>
</head>
<body>
    

<div id="app">

<h1 class="center">
    Проекты
   
    <span class="btn-small" @click="resetFilter">СБРОС</span>
</h1>
<div class="row"> 
    <div class="col m1" @click="sortChange('fdate')">Дата спуска</div>
    <div class="col m1" @click="sortChange('sdate')">Дата запуска</div>
    <div class="col m1" @click="sortChange('bizness')">Вид бизнеса</div>
    <div class="col m1" @click="sortChange('zapusk')">Тип запуска </div>
    <div class="col m1" @click="sortChange('nazvanie')">Название</div>
    <div class="col m2" @click="sortChange('opisanie')">Описание</div>
    <div class="col m2" @click="sortChange('soprovod')">Сопровождающий</div>
    <div class="col m2" @click="sortChange('zakazchik')">Заказчик</div>
    <div class="col m1" @click="sortChange('status')">Статус</div>
    
    
    
    </div>


    <div class="row"> 
        <div class="col m1"><input type="text" class="kalendar" v-model.lazy="filterInput.fdate"></div>
        <div class="col m1"><input type="text" class="kalendar" v-model.lazy="filterInput.sdate"></div>
        <div class="col m1">
            <select v-model="filterSelect.bizness" id="bizness">
                <option value=""  selected>Вид бизнеса</option>
                <option value="FMC">FMC</option>
                <option value="B2B">B2B</option>
                <option value="B2C">B2C</option>
                <option value="ПК">ПК</option>
                <option value="FTTB">FTTB</option>
                <option value="FMC/FTTB">FMC/FTTB</option>
                <option value="BTB/BTC">BTB/BTC</option>
                <option value="FMC/B2C">FMC/B2C</option>

            </select>

        </div>
        <div class="col m1">
        
            <select v-model="filterSelect.zapusk" id="zapusk">
                <option value="" selected>Тип запуска</option>
                <option value="Запуск ТП">Запуск ТП</option>
                <option value="Перезапуск ТП">Перезапуск ТП</option>
                <option value="Закрытие ТП">Закрытие ТП</option>
                <option value="Офсет">Офсет</option>
                <option value="Симплификация/Репайсинг">Симплификация/Репайсинг</option>
                <option value="Запуск Услуги">Запуск Услуги</option>
                <option value="Изменение условий услиги">Изменение условий услиги</option>
                <option value="Закрытие условий">Закрытие условий</option>
                <option value="Запуск акции">Запуск акции</option>
                <option value="Закрытие акции">Закрытие акции</option>
                <option value="SMS/push/email рассылка">SMS/push/email рассылка</option>
                <option value="Запуск Города">Запуск Города</option>
                <option value="Оборудование">Оборудование</option>



            </select>

        </div>
        <div class="col m1"><input type="text" v-model="filterInput.nazvanie"></div>
        <div class="col m2"><input type="text" v-model="filterInput.opisanie"></div>
        <div class="col m2">

            <select v-model="filterSelect.soprovod" id="soprovod">
            
                <option value="" selected>Сопровождающий</option>   
<option v-for="employee in employees" :value="employee['full_name']">{{employee['full_name']}}</option>




            </select>


        </div>
        <div class="col m2"><input type="text" v-model="filterInput.zakazchik"></div>




        <div class="col m1">   <select v-model="filterSelect.status" id="status">
            <option value="" selected>Статус</option>
            <option value="В работе">В работе </option>
            <option value="Выполнено">Выполнено </option>
            <option value="Отложено">Отложено</option>
            <option value="Отменено">Отменено</option>


        </select></div>
        
        
        
        </div>
<div style="max-height: 500px; overflow: auto;">
   
        
        <div class="row hover__bg" v-for="project in projectsFiltred" >
            <div class="col m1">{{project.fdate}}</div>
            <div class="col m1">{{project.sdate}}</div>
            <div class="col m1">{{project.bizness}}</div>
            <div class="col m1">{{project.zapusk}}</div>
            <div class="col m1">{{project.nazvanie}}</div>
            <div class="col m2">{{project.opisanie}}</div>
            <div class="col m2">{{project.soprovod}}</div>
            <div class="col m2">{{project.zakazchik}}</div>
            <div class="col m1">{{project.status}}</div>

        </div>
    </div>
</div>
















    <script src="./src/js/materializeWithKvartal.js"></script>
    <script src="./src/js/axios.js"></script>
    <script src="./src/js/vue.js"></script>
    <script src="./src/js/showProj.js"></script>
</body>
</html>