<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/css/materialize.css">
    <link rel="stylesheet" href="./src/css/style.css">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <title>Title</title>
</head>

<body>


    <div id="app">


        <div class="row">
            <div class="col m1">Дата начала:</div>
            <div class="col m3">
                <input type="text" class="kalendar" v-model.lazy="date1">
            </div>
            <div class="col m1">Дата конца:</div>
            <div class="col m3">
                <input type="text" class="kalendar" v-model.lazy="date2">
            </div>
            <div class="col m4">
                <div class="btn" @click="dateRange">Сформировать</div>
            </div>
        </div>


        <div class="btn" @click="changeOnServer">Синхронизировать</div>
    
        <div class="btn" @click="clearSome">Сбросить выборку</div>
        <div class="btn" @click="some.step = 0;enterSome()">Выбрать несколько</div>
        <input type="text" placeholder="Для нескольких" v-model='some.input'>











        <table cellspacing="2" border="1" cellpadding="5" class="responsive-table striped">

            <tr>
                <th></th>
                <th v-for="day in tabelFiltred">{{day.date}}</th>

            </tr>
            <tr>
                <th></th>
                <th v-for="day in tabelFiltred">{{ day.date | dayOfWeek}}</th>

            </tr>

            <tr>
                <td>Будько Дарья Лбвовна</td>
                <td v-for="day in tabelFiltred"><input @click="enterSome(day,'BDL')" type="text" v-model="day.BDL"
                        name="" :class="{red : day.somes.indexOf('BDL')> -1}"></td>


            </tr>
            <tr>
                <td> Галошина Наталия Александровна</td>
                <td v-for="day in tabelFiltred"> <input @click="enterSome(day,'GNA')" type="text" v-model="day.GNA"
                        name="" :class="{red : day.somes.indexOf('GNA')> -1}"></td>
            </tr>

            <tr>
                <td> Данилова Елена Дмитриевна</td>
                <td v-for="day in tabelFiltred"> <input @click="enterSome(day,'DED')" type="text" v-model="day.DED"
                        name="" :class="{red : day.somes.indexOf('DED')> -1}"></td>
            </tr>
            <tr>
                <td> Кишкопаров Иван Игоревич</td>
                <td v-for="day in tabelFiltred"> <input @click="enterSome(day,'KII')" type="text" v-model="day.KII"
                        name="" :class="{red : day.somes.indexOf('KII')> -1}"></td>
            </tr>
            <tr>

                <td> Колесникова Евгения Владимировна</td>
                <td v-for="day in tabelFiltred"> <input @click="enterSome(day,'KEV')" type="text" v-model="day.KEV"
                        name="" :class="{red : day.somes.indexOf('KEV')> -1}"></td>


            </tr>
            <tr>
                <td> Коротков Сергей Александрович</td>
                <td v-for="day in tabelFiltred"> <input @click="enterSome(day,'KSA')" type="text" v-model="day.KSA"
                        name="" :class="{red : day.somes.indexOf('KSA')> -1}"></td>


            </tr>

            <tr>
                <td> Наливкина Ольга Вячеславовна</td>
                <td v-for="day in tabelFiltred"> <input @click="enterSome(day,'NOV')" type="text" v-model="day.NOV"
                        name="" :class="{red : day.somes.indexOf('NOV')> -1}"></td>


            </tr>

            <tr>
                <td> Попова Татьяна Петровна</td>
                <td v-for="day in tabelFiltred"> <input @click="enterSome(day,'PTP')" type="text" v-model="day.PTP"
                        name="" id="" :class="{red : day.somes.indexOf('PTP')> -1}"></td>


            </tr>



            <tr>
                <td> Степанова Юлия Игоревна</td>
                <td v-for="day in tabelFiltred"> <input @click="enterSome(day,'SYI')" type="text" v-model="day.SYI"
                        name="" id="" :class="{red : day.somes.indexOf('SYI')> -1}"></td>


            </tr>

            <tr>
                <td> Федулова Елена Николаевна</td>
                <td v-for="day in tabelFiltred"> <input @click="enterSome(day,'FEN')" type="text" v-model="day.FEN"
                        name="" id="" :class="{red : day.somes.indexOf('FEN')> -1}"></td>


            </tr>


            <tr>
                <td> Шевелева Анастасия Андреевна</td>
                <td v-for="day in tabelFiltred"> <input @click="enterSome(day,'WAA')" type="text" v-model="day.WAA"
                        name="" id="" :class="{red : day.somes.indexOf('WAA')> -1}"></td>


            </tr>
            <tr>
                <td> Шумейко Антон Сергеевич</td>
                <td v-for="day in tabelFiltred"> <input @click="enterSome(day,'WAS')" type="text" v-model="day.WAS"
                        name="" id="" :class="{red : day.somes.indexOf('WAS')> -1}"></td>


            </tr>



        </table>


        <!-- <div class="row" style="overflow: scroll; display: flex;">
    <div class="col m4">
        <ul>
            <li>
            Будько Дарья Лбвовна
            </li>
            <li>
                Галошина Наталия Александровна
            
            </li>
            <li>
                Данилова Елена Дмитриевна
            </li>
            <li>
                Кишкопаров Иван Игоревич
            </li>
            <li>
                Колесникова Евгения Владимировна
            </li>
            <li>
                Коротков Сергей Александрович
            </li>
            <li>
                Наливкина Ольга Вячеславовна
            </li>
            <li>
                Попова Татьяна Петровна
            </li>
            <li>
                Степанова Юлия Игоревна
            </li>
            <li>
                Федулова Елена Николаевна
            </li>
            <li>
                Шевелева Анастасия Андреевна
            </li>
            <li>
                Шумейко Антон Сергеевич
            </li>
        </ul>
    </div>


    <div  class="col m1" v-for="day in tabel" :key="day.id">
  {{day.date}}
        <ul>
            <li>
     {{day.BDL}}
            </li>
            <li>
                {{day.GNA}}             
            
            </li>
            <li>
                {{day.DED}}     
            </li>
            <li>
                {{day.KII}}
            </li>
            <li>
                {{day.KEV}}
            </li>
            <li>
                {{day.KSA}}
            </li>
            <li>
                {{day.NOV}}
            </li>
            <li>
                {{day.PTP}}
            </li>
            <li>
                {{day.SYI}}
            </li>
            <li>
                {{day.FEN}}
            </li>
            <li>
                {{day.WAA}}
            </li>
            <li>
                {{day.WAS}}
            </li>
        </ul>
    </div>





</div> -->

    </div>
















    <script src="./src/js/materialize.js"></script>
    <script src="./src/js/axios.js"></script>
    <script src="./src/js/vue.js"></script>
    <script src="./src/js/test.js"></script>
</body>

</html>