<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./materialize.css" />
    <link rel="stylesheet" href="./bulma.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- <div class="eGrafiks">
      <div class="box">
        <div v-if="fileloadstatus != 'parsed'">
          <h1 class="title is-1 has-text-centered">
            Выберите файл для построения графика...
          </h1>

          <input
            placeholder="Выберите файл"
            class="input"
            @change="loadFile"
            type="file"
            name="resume"
          />
        </div>

        <div class="" v-show="loading">
          <h1 class="title is-1">Загрузка...</h1>
        </div>

        <div v-if="fileloadstatus=='loaded' || fileloadstatus=='loaded'">
          <h1 class="title is-1 has-text-centered">Файл: {{filename}}</h1>
        </div>

        <div v-if="fileloadstatus=='parsed'">
          <div class="columns">
            <div class="column is-2">
              <button class="is-primary button" @click="openGrafSelectModal">
                Добавить график
              </button>
            </div>
            <div class="column is-3 is-offset-3">
              <h2 class="title is-2">Графики по Excell</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="box" v-for="(eGrafik,idx) in eGrafiks" :key="idx">
       
       
        <div v-if="eGrafik.type =='zapusk'">
          <h2 class="title is-2">График по запускам</h2>
          <h3 class="title is-3">Выберите активности: </h3>
          <select v-model="eGrafik.selectedIdx" multiple class="my-6">
            <option
              v-for="selectValue in selectValuesZapusk"
              :value="selectValue.idx"
            >
              {{selectValue.label}}
            </option>
          </select>

          <div class="box" v-if="selectValuesZapusk.length">
            <h2 class="title is-2 has-text-centered">Даты</h2>
            <div class="columns">
              <div class="column is-6 has-text-centered">
                <input
                  type="text"
                  v-model.lazy="eGrafik.fdate"
                  class="datepicker input"
                />
              </div>
              <div class="column is-6 has-text-centered">
                <input
                  type="text"
                  v-model.lazy="eGrafik.sdate"
                  class="datepicker input"
                />
              </div>
            </div>
            <div class="columns">
     
                <button class="button is-danger column is-2 is-offset-5 is-size-4" @click="initGrafik(eGrafik)">
                 Создать график
                </button>
    
            </div>
            <div class="columns">
              <div class="column is-8 is-offset-2 ">
                <canvas :id="'eGrafik'+idx"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div v-if="eGrafik.type =='planFact'">
          <h2 class="title is-2">График по План/Факту</h2>
          <h3 class="title is-3">Выберите активности: </h3>
          <select v-model="eGrafik.selectedIdx" multiple class="my-6">
            <option
              v-for="selectValue in selectValuesPlanFact"
              :value="selectValue.idx"
            >
              {{selectValue.label}}
            </option>
          </select>

          <div class="box" v-if="selectValuesPlanFact.length">
            <h2 class="title is-2 has-text-centered">Даты</h2>
            <div class="columns">
              <div class="column is-6 has-text-centered">
                <input
                  type="text"
                  v-model.lazy="eGrafik.fdate"
                  class="datepicker input"
                />
              </div>
              <div class="column is-6 has-text-centered">
                <input
                  type="text"
                  v-model.lazy="eGrafik.sdate"
                  class="datepicker input"
                />
              </div>
            </div>
            <div class="columns">
      
                <button class="button is-danger column is-2 is-offset-5 is-size-4" @click="initGrafik(eGrafik)">
            Создать график
                </button>
            
            </div>
            <div class="columns">
              <div class="column is-8 is-offset-2 ">
                <canvas :id="'eGrafik'+idx"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

   
   
      <div class="modal" id="selectGrafikModal">
        <div class="modal-content">
          <div class="box is-clickable" @click="addGrafZapusk">
            График для прогноза по запускам
          </div>
          <div class="box is-clickable" @click="addGrafPlanFact">
            График для План Факт 1 Линия
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat"
            >Закрыть</a
          >
        </div>
      </div>
    </div> -->

    <div class="container">


      <div>
        <div class="columns m-4 is-align-items-center">
          <div class="mx-4"><h2 class="title is-2">Теги:</h2></div>
          <div class="mx-4">
            <button
              data-target="tagDropDown"
              class="dropdown-trigger button is-primary"
            >
              Выбрать
            </button>
          </div>
        </div>

        <div class="field is-grouped is-grouped-multiline">
          <div v-for="tag in selectedTags" class="tags has-addons m-2">
            <span
              @click="editTagBody(tag)"
              class="tag is-clickable is-medium"
              data-position="bottom"
              :data-tooltip="tag.label"
              :class="{
                'is-danger': tag.body,
                'is-info': !tag.body,
                'tooltippedTag' : tag.label.length > 20 
              }"
              >{{tag.label.length > 20 ? tag.label.slice(0,17) + '...' :
              tag.label }}</span
            >
            <a class="tag is-delete is-medium" @click="deleteTag(tag)"></a>
          </div>
        </div>
        <ul id="tagDropDown" class="dropdown-content">
          <li
            class="p-4"
            v-for="(tag,i) in taglist"
            :key="i"
            @click="selectTag(tag)"
          >
            {{tag}}
          </li>
        </ul>

        <div class="modal" id="tagBodyModal">
          <div class="modal-content">
            <h3 class="is-title is-3">Введите тело</h3>
            <textarea class="textarea" v-model="currentTag.body"> </textarea>
          </div>

          <div class="modal-footer">
            <button class="is-danger button" @click="currentTag.body = ''">
              Очистить
            </button>
            <button class="is-primary modal-close button">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
    <script src="./vue.js"></script>
    <script src="./kalendar.js"></script>
    <script src="./materializeWithKvartal.js"></script>
    <!-- <script src="./shim.min.js"></script>
    <script src="./xlsx.full.min.js"></script> -->
    <script src="./index.js"></script>
    <script src="./chart.js"></script>
  </body>
</html>
