.hover__bg:hover{
    background-color: rgb(177, 177, 177);
}
.hover__bg{
    cursor: pointer;
}

thead {
    width: 45vh;
}

.p0 {
    padding: 0;
}
.m0{
    margin: 0;
}
.sort__button {
    cursor:pointer;
}

.table-no-100 table{
    width: auto;
}
.fs-sm, .fs-sm>i{
    font-size: 16px;
}

.audits{
    margin-top: 40px;
}
.center{
    text-align: center;
}
.ma{
    margin: auto;
}
.vam{
    vertical-align: middle !important;
}
.w100{
    width: 100%;
}