.hover__bg:hover{
    background-color: rgb(177, 177, 177);
}
.hover__bg{
    cursor: pointer;
}

thead {
    width: 45vh;
}

.p0 {
    padding: 0;
}
.m0{
    margin: 0;
}
.sort__button {
    cursor:pointer;
}